
//@import "~bootstrap/scss/bootstrap";

$primary : #ff9900;
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

* ,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #777;
    padding: 1rem;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($light-green, 0.8), rgba($dark-green, 0.8)), url('./assets/image/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;

    .logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;

        .logo{
            height: 3.5rem;
            color: #fff;
            font-size: 24px;

            &::after{
                content: " ";
                width: 2px;
                display: block;
                height: 1.5rem;
                color: #fff;
            }
        }
    }

    .text-box{
        position: absolute;
        text-align: center;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -50%);
        .heading-primary{
            color:#fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 6rem;
            &-main{
                display: block;
                font-size: 6rem;
                font-weight: 400;
                letter-spacing: 3rem;
                animation: moveInLeft 1s ease-out;
            }
            &-sub{
                display: block;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 1.75rem;
                animation: moveInRight 1s ease-out;
            }
        }
    }
}

.btn{
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .3s;
        position: relative;
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0 ,0 ,0, .30);
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0 ,0 ,0, .20);
    }

    &-white{
        background-color: #fff;
        color: #777;
        &::after{
            background-color: #fff;
        }
    }
    &-animated{
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

    &::after{
        content: " ";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &:hover::after{
        transform: scaleX(1.3) scaleY(1.2);
        opacity: 0;
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}